.one{
    margin-left: 65px;
    margin-top: 25px ;
    border: 2px solid black;
    border-radius: 10px;
    width: 250px;
    height: 150px;
    position:absolute;
    display: inline-block;
}

.two{
    margin-left: 1020px;
    margin-top: 25px ;
    border: 2px solid black;
    border-radius: 10px;
    width: 250px;
    height: 150px;
    position:absolute;
    display: inline-block;
}

.three{
    margin-left: 1020px;
    margin-top: 400px ;
    border: 2px solid black;
    border-radius: 10px;
    width: 250px;
    height: 150px;
    position:absolute;
    display: inline-block;
}

.four{
    margin-left: 65px;
    margin-top: 400px ;
    border: 2px solid black;
    border-radius: 10px;
    width: 250px;
    height: 150px;
    position:absolute;
    display: inline-block;
}

.five{
    margin-left: 530px;
    margin-top: 220px ;
    border: 2px solid black;
    border-radius: 10px;
    width: 250px;
    height: 150px;
    position:absolute;
    display: inline-block;
}

